# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj
*.xcuserdata
*.xcuserstate
*.moved-aside
*.xcsettings
*.xccheckout

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock~

# Dependency artifacts
Cartfile.resolved
Carthage/
Carthage/Checkouts
Carthage/Build

# XcodeGen
project.yml
*.xcodeproj/
*.xcworkspace/

# Logs
*.log

# Binaries
*.dSYM.zip
*.dSYM

# Temporary files
*.swp
*.lock
*.tmp
*.orig

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CI
xcresult/
fastlane/report.xml
fastlane/test_output/
fastlane/screenshots/**/*.png
